<nav class="navbar navbar-expand-lg fixed-top glass">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" class="logo-navbar"> ClickPrime
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item"><a class="nav-link" href="#servicios">{{ 'NAVBAR.SERVICIOS' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#experiencia">{{ 'NAVBAR.EXPERIENCIA' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">{{ 'NAVBAR.CONTACTO' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#whatsapp">{{ 'NAVBAR.CHATEA' | translate }}</a></li>

            </ul>

        </div>

        <!-- idioma separado (sin romper navbar) -->
        <div class="ms-3 position-relative">
            <button class="btn btn-light rounded-circle" (click)="toggleOpen()">
        🌐
      </button>

            <div *ngIf="open" class="position-absolute end-0 mt-2 bg-white border rounded shadow">

                <button class="dropdown-item colorLetterIdioma" (click)="changeLang('en')">🇺🇸 EN</button>
                <button class="dropdown-item colorLetterIdioma" (click)="changeLang('es')">🇪🇸 ES</button>

            </div>
        </div>

    </div>
</nav>