<nav class="navbar navbar-expand-lg fixed-top glass">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/images/logo.png" alt="ClickPrimeLogo" class="logo-navbar me-2"> ClickPrime
        </a>

        <!-- Botón hamburguesa para móviles -->
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#servicios">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="#experiencia">Experiencia</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacto">Contáctanos</a></li>
                <li class="nav-item"><a class="nav-link" href="#whatsapp">Chatea</a></li>
            </ul>
        </div>
    </div>
</nav>